#contacto-container{
    display: grid;
    grid-template-columns: 3fr 4fr;  /* grid template: filas / columnas */
    grid-template-rows: auto;
    grid-template-areas:    "a b";
    background:radial-gradient(140% 220% at right, #3C5055 50%,#E5E7E5 50.1%);

}

#form-img{ 
    grid-area: a;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.box-allimg img{
    width: 100%
}

#form-contacto{ 
    grid-area: b;
    padding: 2rem;
    box-sizing: border-box;
}
#form-contacto>h1, #form-contacto>p{
    color: #ffffff;
}
#form-contacto>h1{
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 4rem;
    text-shadow: #00000032 0.01em 0.02em 0.03em;
    line-height: 2.2rem;
}
#form-contacto>p{
    margin: 1rem 0 1.5rem 0;
}


#form-all{
    display: grid;
    grid-template-columns: 1fr 1fr;  /* grid template: filas / columnas */
    grid-template-rows: repeat(6, auto);
    grid-template-areas:    "nom ape"
                            "mai mai"
                            "nac fre"
                            "tem tem"
                            "com com"
                            "sen sen"
                            "p p";

    background-color: #eef0f632;
    gap: 0.5rem 1rem;
    padding: 1.4rem 2rem 0.8rem 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
}

#lab-nombre{grid-area: nom;}
#lab-apellido{grid-area: ape;}
#lab-mail{grid-area: mai;}
#lab-nacimiento{grid-area: nac;}
#lab-frecuencia{grid-area: fre;}
#lab-temas{grid-area: tem;}
#lab-comentario{grid-area: com;}
.boton1{grid-area: sen;}




label, input, select, textarea{
    display: block;
    width: 100%;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: transparent;
    font-family: inherit;

}
input, select, textarea{
    padding: 0.7rem;
    box-sizing: border-box;
    background-color: #ffffffe4;
}
option{
    font-size: 0.9rem;   
}
input[type="checkbox"]{
display: inline-block;
width: auto;
}
input[type="checkbox" i]{
    height: 1rem;
    width: 1rem;
}
.boton1{
    background-color: #A3351F;
    border-radius: 0.5rem;
    margin-bottom: 0;
}


.img-contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8rem 2rem 10rem 2rem;

    background-color: #EFC4BD;
    padding: 5rem;
    box-sizing: border-box;
    }
    
    .img-cont-1 { 
        grid-area: 1 / 1 / 2 / 4;
        text-align: center;}
    .img-cont-2 { grid-area: 3 / 1 / 4 / 2; }
    .img-cont-3 { grid-area: 2 / 2 / 5 / 3; }
    .img-cont-4 { grid-area: 3 / 3 / 4 / 4; }


.img-cont-1 h2{
    margin: 1rem 0;
}




.location-box {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    background-color: #4D6771;
    padding: 3rem;
    box-sizing: border-box;
    height: 100%;
    margin: auto;
    }
    
    .location1 { grid-area: 1 / 1 / 2 / 2; }
    .location2 { grid-area: 2 / 1 / 3 / 2; }
    .location3 { grid-area: 1 / 2 / 3 / 3; }

.location1, .location2{
    display: flex;
    flex-wrap: nowrap;
    background-color: #F1F2F2;
    height: 100%;
}
.loc-img{
    width: 45%;
}
.loc-txt{
    width: 55%;
    padding: 2rem;
    box-sizing: border-box;
    margin: auto;

}


/* inicio estilos validacion formulario */
.form-box input:focus{
    outline-color: #41bbeb;
}
.form-box .error-text{
    color: #8e0202;
    visibility: hidden;
    font-size: 0.74rem;
}
.exitoHidden{
    grid-area: p;
    padding: 0;
    margin-top: 0;
    visibility: hidden;
    display: none;
}
.exitoVisible{
    visibility: visible;
    grid-area: p;
    font-size: 0.8rem;
    color: #000939;
    padding: 0;
    margin-top: 0;
    text-align: center;
    display: block;
}
.msjHidden{
    display: none;
}
.msjVisible{
    display: block;
    visibility: visible;
    grid-area: p;
    font-size: 0.8rem;
    color: #8e0202;
    padding: 0;
    margin-top: 0;
    text-align: center;
}


.form-box.form-error input{
 border-bottom: 2px solid #BE0E0D;
}
.form-box.form-error .error-text{
    visibility: visible;
}
.form-box.form-success input{
    border-bottom: 2px solid #06c30c;
}
/* fin estilios validacion formulario */


/*inicio Medianos (landscape tablets, 601px hasta 991) ----------------------------------------------------------------------*/
@media screen and (min-width: 601px) and (max-width: 991px){
    #contacto-container{
        grid-template-columns: 4fr 7fr;   
    }
    #form-contacto{padding: 2rem;}
    .img-contact{ padding: 2rem;}
        
    .location-box {  padding: 1rem;}        
    .loc-img{
        width: 45%;
    }
    .loc-txt{
        width: 55%;
        padding: 2rem;
        box-sizing: border-box;
        margin: auto; 
    }
} /*fin Medianos (landscape tablets, 601px hasta 991)*/

/* inicio Extra small devices (phones,  hasta 600px ) ------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    #contacto-container{
        grid-template-columns: 1fr; 
        grid-template-areas:    "b"
                                "a";
        background:radial-gradient(140% 220% at right, #3C5055 50%,#E5E7E5 0);
    }
    #form-img{  width: 50%; }
    #form-contacto{ 
        padding: 2rem 1rem 0;
    }
    #form-contacto>h1, #form-contacto>p{
        text-align: end;
    }    
    #form-all{   
        background-color: #adb2b5bb;
    } 
       .img-contact{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 2rem;
        }
        .img-cont-1 {  grid-area: 1 / 1 / 2 / 2;}
        .img-cont-2 { grid-area: 2 / 1 / 3 / 2; }
        .img-cont-3 { grid-area: 3 / 1 / 4 / 2; }
        .img-cont-4 { grid-area: 4 / 1 / 5 / 2; }
    
    .location-box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 1rem;
        }
        .location2 { grid-area: 3 / 1 / 4 / 2; }
        .location3 { grid-area: 2 / 1 / 3 / 2; }
    
    .location-box h3{
        font-size: 1.6rem;
        text-align: center;
    }

    .loc-img, .loc-txt{
        width: 50%;
    }
    .location2 .loc-img{
        order: 2;
    }
    .location2 .loc-txt{
        order: 1;
    }
}/* fin Extra small devices (phones,  hasta 600px )

/*  inicio Extra largo (large laptops and desktops, 1280px and up)------------------------------------------------------------ */
@media screen and (min-width: 1280px) {
    #contacto-container{
        grid-template-columns: 6fr 5fr;  /* grid template: filas / columnas */
    }
    #form-img{    width: 70%;}

    .img-contact{
        grid-template-rows: 8rem 2rem 15rem 2rem;
        padding: 3rem;
        }
    
    .location-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        } 
        .location1 { grid-area: 1 / 1 / 2 / 2; }
        .location2 { grid-area: 1 / 2 / 2 / 3; }
        .location3 { grid-area: 1 / 3 / 2 / 4; }
    
    .location1, .location2{
        flex-wrap: wrap;
        height: auto;
    }
    .loc-img,  .loc-txt{
        width: 100%;
    }
    .loc-txt{
        height: auto;
    }   
    .loc-txt h3{
        font-size: 1.5rem;
        text-align: center;
    }     
} /*fin Extra largo (large laptops and desktops, 1280px and up)

